

/*@charset "UTF-8";

/* browser reset */

@media all {

	/* Global reset of paddings and margins for all HTML elements */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	/* Correction:margin/padding reset caused too small select boxes. */
	option {
		padding-left:0.4em;
	} /* LTR */
*{outline: none;}
	select {
		padding:1px;
	}

	/* (en) Global fix of the Italics bugs in IE 5.x and IE 6 */
	* html body * {
		overflow:visible;
	}

	body {
		font-size:100.01%; /* Fix for rounding errors when scaling font sizes in older versions of Opera browser */
		background:#fff;
		color:#000;
		text-align:left; /* LTR */
		line-height: 1;
	}

	/* avoid visible outlines on DIV containers in Webkit browsers */
	div {
		outline:0 none;
	}

	/* HTML 5 - adjusting visual formatting model to block level */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}

	/* Hide number or bullet in lists */
	ol, ul {
		list-style: none;
	}

	/* Clear borders for <fieldset> and <img> elements */
	fieldset, img {
		border:0 solid;
	}

	/* hide quotes */
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	/* table fix collapse and spacing */
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	/* Clear borders/outline for links when you click */
	a:active {
	 border:0 none;
	 outline:0 none;
	}

}

@media print {

	.noprint {
		display:none !important;
	}

}

html ,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
 margin 				:0;
  padding 				:0;
 }
table {
 border-collapse		:collapse;
  border-spacing		:0; 
}
fieldset, img {
 border 				:0; 
}
ul {
 list-style 			:none; 
}
input
 { border 				: none;
  height 				: 18px;
  }
a{ 
	text-decoration		: none; 
	outline				:none;
}
.clear {
 clear					: both; 
}
img {
 border 				:none;
  }
 /*~ ><> <>< ~~ ~~~ ~ <>< <>< ~ ~ ~ ><> ~~~ ><>FONTS><> ~~ ~ ~ ><> ><> ~ <>< ~~ ~~~~ ~ ><> ><> ~~ ~ ><> ~*/
  @font-face{
  	font-style			:normal;
	font-weight			:normal;
  	font-family			: 'yekan';
  	src 				:url('font/yekan.eot');
  	src 				:url('font/yekan.eot?#iefix') format('embedded-opentype'),
						url('font/yekan.woff') format('woff'),
						url('font/yekan.ttf') format('truetype');
  }
   @font-face{
   	font-style			:normal;
	font-weight			:normal;
	font-family			: 'mitra';
	src 				:url('font/mitra.eot');
  	src 				:url('font/mitra.eot?#iefix') format('embedded-opentype'),
						url('font/mitra.woff') format('woff'),
						url('font/mitra.ttf') format('truetype');
   }
 /*><> ~~ ><> ~~~ ~~ ><> ~ ><> ~~ ><> ~~~ ~~~ ><> ~ SLIDER2  ><> ><> ~~ ~~ ~  ><> <>< ~~ ~ ><> ~ */
div.slider2{
	background-image	: url('./images/draw.jpg');
}

div.slider2 div.lnews{
	width				: 130px;
	font-family			: 'yekan';
	margin-right		: 10px;
	font-size			: 17px;
	line-height			: 80px;
	color 				: #82ac54;
	float				: right;
}

.newsticker{
	width				: 670px;
	height 				: 80px;
	overflow			: hidden;
	position 			: relative;
	float				: right;
}

.trainer{
	direction:ltr;
}
.newsticker ul li{
	float: left;
	width: 670px;
	height: 80px;
	display: block;
	font-family: 'mitra';
}

.newsticker li a{
	text-decoration: none;
	color: #aaa;
	line-height: 80px;
	white-space: nowrap;
	float: right;
	margin-right: 10px;
}

.buttons{
	width: 50px;
	min-height: 20px;
	margin-right: auto;
	padding-top: 25px;
}


.prev{
	width				: 20px;
	height 				: 30px;
	background 			: url('images/bluearrow2.png');
	background-position : 0 0;
	float				: right;
	cursor				: pointer;
	margin-top:30px;
}
.prev:hover{
	background-image: url('images/bluearrow2hover.png');	
}
.next{
	width				: 20px;
	height 				: 30px;
	background 			: url('images/bluearrow2.png');
	background-position: -20px 0;
	float				: right;
	cursor				: pointer;
	margin-top:30px;
}
.next:hover{
	background-image: url('images/bluearrow2hover.png');	
}
/*><> ~~ ><> ~~ ~~~ ~ ><> <>< ~~~ ~ ><> ~ ~ ><> ~~~ BODY~~~ ><> ><> ~~~ ~~ ~~ ><> <>< ~~ ><> ><> ~~*/

body{
	background 			: url('images/Untitled-1.jpg') repeat;
	min-height			: 900px;
}
div.backimg{
	background-image	: url('images/bmslider.png');
	background-repeat	: no-repeat;
	width				: 100%;
	height 				: 738px;
	position 			: absolute;
	z-index				: 0;
	background-position	: center top;
	background-size		: cover;
	zoom				:1;
}
div.shadow1{
	background-image	: url('images/shadow3.png');
	background-repeat	: no-repeat;
	width				: 988px;
	height 				: 58px;
	position 			: absolute;
	z-index 			:-10;
	bottom 				: -5px;
	left 				: -56px;
}
div.shadow2{
	background-image	: url('images/shadow.png');
	background-repeat	: no-repeat;
	width				: 939px;
	height 				: 59px;
	position 			: absolute;
	z-index				: 0;
	bottom 				: -39px;
	left 				: 205px;
}
div.container{
	margin-right		: auto;
	margin-left			: auto;
	margin-bottom		: 0;
	margin-top			: 0;
	width				: 878px;
	position 			: relative;
	z-index				: 1;
}

div.text{
	margin-right		: auto;
	margin-left			:auto;
	width				: 610px;
	height 				: 267px;
	margin-top			: 36px;
	text-align			:justify;
}
 div.text p{
	font-family			:'mitra';
	font-size			:17.5px;
	color 				:#575757;
	line-height			:25px; 
}
div.text span.greentext{
	color 				:#9ab57d;
}

div.hpicture{
	background-image: url('images/mimage.jpg');
	background-repeat: no-repeat;
	height: 157px;
}
/*div.hpicture div.opc{
	width: 44px;
	height: 44px;
	opacity: 0.8;
}
div.hpicture p.op2{
	display: block;
}*/

div.container div.maint{
	background-color: #fff;
	height: 760px; 
	position: relative;
}
div.maint div.sidebar{
	width: 494px;
	height: 650px;
	float: left;
}
div.maint div.sidebar h1{
	font-family: 'yekan';
	font-size: 21px;
	float: right;
	color: #56abd2;
	width: 100%;
	margin-top: 74px;
	text-align: right;
}
div.maint div.sidebar p{
	text-align: justify;
   	line-height: 40px;
    color: #9b9b9b;
    font-family: 'yekan';
    font-size: 14.5px;
}
div.maint form{
	margin-top: 45px;
	float: right;
}
div.maint form input{
	float: right;
    border: 1px solid #8f8f8f;
    width: 272px;
    height: 32px;
    border-radius: 5px;
    padding:0 10px;
    overflow: hidden;
    color: #888;
    font-size: 12px;
    font-family: 'tahoma'
}
div.maint div.googlemap{
	float: left;
	height: 650px;
	width: 382px;
	margin-top: 74px;
}
div.maint div.googlemap iframe{
	width: 306px;
    height: 255px;
    border: 2px solid #e7e7e7;
    margin-left: 33px;
}
div.googlemap div.add{
	 width: 382px;
    height: 300px;
    margin-top: 51px;
}
div.add p.add1{
	margin-left: 43px;
    font-family: 'yekan';
    font-size: 16px;
    color: #9a9a9a;
}
div.add p.phonenum{
	margin-left: 74px;
    font-family: 'yekan';
    font-size: 16.5px;
    color: #848484;
    margin-top: 20px;
}
div.add p.inform{
	font-family: 'yekan';
    margin-left: 116px;
    font-size: 16.5px;
    color: #848484;
    margin-top: 20px;
}
div.maint form input:focus,
div.maint form textarea:focus{
	border: 1px solid #a6c189;
}
div.maint form input#number,
div.maint form input#email{
	margin-top: 22px;
}
div.maint form textarea{
	margin-top: 28px;
	float: right;
	overflow: hidden;
	width: 404px;
    height: 112px;
    padding: 17px 20px;
    font-family: 'tahoma';
    font-size:12px;
}
div.maint form button.send{
	margin-top: 35px;
	float: right;
	width: 138px;
    height: 34px;
    background-color: #a6c189;
    color: #fff;
    font-family: 'yekan';
    font-size: 17.5px;
    cursor: pointer;
    border: none;
}
div.maint form button.send:hover{
	background-color:#90AD70;
}
div.maint form button.send:hover{
	top:3px;
}

div.maint div.floorinfo1{
	min-height: 372px;
}
div.floorinfo1 div.fi1{
	height: 98px;
	padding: 1px;
}
div.floorinfo1 div.fpic{
	min-height: 272px;
}
div.fpic div.bpic{
	float: left;
	width: 459px;
	height: 234px;
	margin-left: 82px;
	margin-top: 29px;
	border: 5px #D5D5D5 solid;
	background-image: url('images/interi2.jpg');
}
div.fpic div.spic1,
div.fpic div.spic2{
	width: 113px;
	height: 113px;
	float: left;
	margin-top: 29px;
	border-right: #D5D5D5 solid 6px;
	border-top: #D5D5D5 solid 6px;
	border-bottom: #D5D5D5 solid 6px;
	background-image: url('images/interi1.jpg');
}
div.fpic div.spic3,
div.fpic div.spic4{
	width: 113px;
	height: 113px;
	float: left;
	border-bottom: 6px solid #D5D5D5;
	border-right: 6px solid #D5D5D5;
	background-image: url('images/interi1.jpg');
}
div.fi1 h1{
	float: right;
	color: #56abd2;
	font-family: 'yekan';
	font-size: 20px;
	margin-top: 78px;
	margin-right: 89px;
}
div.fi1 p span{
	font-size: 21px;
	font-weight: bold;
}
div.fi1 div.plan{
	margin-top: 65px;
	margin-left: 88px;
	width: 138px;
	height: 34px;
	float: left;
}
div.plan a{
	text-align: center;
	background-color: #a6c189;
	color: #fff;
	padding: 8px;
	font-family: 'yekan';
	font-size: 17px;
	display: block;	
}
div.plan a:hover{
	background-color: #90AD70;
}
div.slider2{
	height 				: 84px;
	width				: 878px;
	margin-top			: 27px;
}
div.linkbox{
	width				: 100%;
	height 				: 263px;
	float				: left;
	background-color	: #fbfbfb;
	box-shadow			: 0px -5px 15px #ccc;
	margin-top			:40px;
}
div.linkbox div.lb{
	width				: 878px;
	height 				: 176px;
	margin-top			: 44px;
	margin-left			: auto;
	margin-right		: auto;
}
div.lb div.oxinconection{
	border-right		: 1px #cccdcb solid;
	float				: left;
	width				: 195px;
	height 				: 176px;
}
div.lb div.oxinconection p.oxc{
	margin-right		: 48px;
}
div.lb div.usefullink p.usl{
	margin-right		: 60px;
}
div.lb div.oxinconection p.oxc,
div.lb div.usefullink p.usl{
	color 				: #94c591;
	text-align			: right;
	margin-top			: 17px;
	display				: block;
	font-family			:'yekan';
	font-size			:13px;
	font-weight			:normal !important;

}
div.lb div.oxinconection p{

	margin-right		: 48px;
}
div.lb div.usefullink p{
	margin-right		: 60px;
}
div.lb div.oxinconection p{
	text-align			: right;
	color 				: #787878;
	display				: block;
	font-family			:'mitra';
	font-size			:19px;
	line-height			: 26px;
}
div.lb div.usefullink p a{
	text-align			: right;
	color 				: #787878;
	display				: block;
	font-family			:'mitra';
	font-size			:16.02px;
	line-height			: 26px;
}
div.lb div.usefullink p a:hover{
	color: #A3C48E;
}
div.lb div.oxinconection p.finfo,
div.lb div.usefullink  p.usfl{
	margin-top			: 10px;
}
div.lb div.rlnews{
	border-right		: 1px solid #cccdcb;
	float				: left;
	width				: 255px;
	height 				: 176px;
}
div.lb div.rlnews div.envelop{
	background-image	: url('images/mail.png');
	width				: 67px;
	height 				: 60px;
	margin-top			: 17px;
	margin-right		: auto;
	margin-left			: auto;
}
div.lb div.rlnews p{
	text-align			: center;
	color 				: #787878;
	margin-top			: 16px;
	display				: block;
	font-family			:'yekan';
	font-size			:12.5px;
}
div.lb div.worktime p{
	text-align			: center;
	margin-top			: 5px;
	color 				: #787878;
	font-size			:16.33px;
	font-family 		:'yekan';
}
div.lb div.worktime p.dcolor{
	color 				: #b5b7b4 ; 
	margin-top			: 16px;
	font-family			:'yekan';
	font-size			:16.33px;
}
div.lb div.rlnews div.mailbox{
	width				: 200px;
	height 				: 30px;
	border 				: #b8d3b6 solid 1px;
	display				: block;
	margin-right		: auto;
	margin-left			: auto;
	margin-top			: 15px;
}
div.rlnews div.mailbox input.mtbox{
	background-image	: url('images/mail_textbox.png');
	background-repeat	: no-repeat;
	float				: right;
	width				: 30px;
	height 				: 30px;
	background-color	: white;
	background-position	: center;
	cursor				: pointer;
}
div.rlnews div.mailbox input.tmtbox{
	float				: right;
	width				: 150px;
	height 				: 30px;
	padding 			: 0 10px;
	text-align			: right;
	font-size			:12px;
	font-family			:'tahoma'; 
	color 				:#888; 
}
div.lb div.usefullink{
	border-right		: 1px #cccdcb solid;
	float				: left;
	width				: 255px;
	height 				: 176px;
}
div.worktime{
	margin-left			: 705px;
	height 				: 176px;
}
div.worktime div.clockph{
	background-image	: url('images/clock.png');
	background-repeat	: no-repeat;
	margin-left			: auto;
	margin-right		: auto;
	width				: 75px;
	height 				: 75px;
	margin-top			: 17px;

}
/*><> ~~~ ><> ~~ ><> ><> ~ ~ ~~ ><> <>< ~~ ~ HEADER ~~><> ~~ ><> ~~ ~~~ ><> ><> ~~~ ><> */
div.container div.wtop{
	height 				: 58px;
	background-color	: #fff;
	margin-top			: -43px;
	margin-right		: auto;
	margin-left			: auto;
	width				: 878px;
}
div.head{
	height 				: 111px;
	padding 			: 1px;
}
div.head div.logo{
	background-image	: url('images/oxin-logo.png');
	width				: 222px;
	height 				: 33px;
	float 				: right;
	margin-top			: 64px;

}
div.searchbox form input{
	float				: left;
}
div.searchbox form input.textinput{
	color 				:green;
	width				: 200px;
	height 				: 33px;
	float 				: right;
	text-align			: right;
	padding 			: 0 10px;
	font-family			:'tahoma'; 
}	
::-webkit-input-placeholder{
	color 				: #82ac54;
	text-align			: right;
}
::-moz-placeholder {
 	color 				:#82ac54; 
	text-align			: right;

}
  /* firefox 19+ */
:-ms-input-placeholder {
 	color 				:#82ac54;
	text-align			: right;
  } /* ie */
input:-moz-placeholder {
 color 					:#82ac54;
  }

div.searchbox{
	width				: 275px;
	height 				: 33px;
	float				: left;
	margin-top			: 64px;
	overflow			: hidden;
	border 				: 1px solid #82ac54;
	background-color	: #fff;
}
div.searchbox form input.imginput{
	background-image	: url('images/search.png');
	background-repeat	: no-repeat;
	width				: 30px;
	height 				: 33px;
	float				: left;
	background-color	: white;
	background-position	: center;
	cursor				: pointer;
	margin-left		: 5px;
}

/*><> ~~ ><> ><> ~~~ ~~ ~~ ><> ~~ ><> <>< ~ MENU ~~~ ><> ><> ~~~ ~ ><> ><> ~~ ~~~~ ><> */
nav menu,
footer ul{
	list-style-type		: none;
	margin-top: 0;	
}
nav{
	float				:right;
}
nav menu{
	padding 			:0;
}
div.top{
	background-image	: url('images/draw.jpg');
	width				: 878px;
	height 				: 58px;
}
div.blueimg{
	background-image	: url('images/line-gradient.png');
	width				: 881px;
	height 				: 2px;
	margin-left			: auto;
	margin-right		: auto;
}
nav li,
footer ul li{
	float				: right;
	line-height			: 29px;
}
nav a
{
	text-decoration		: none;
	display				: block;
	padding-right		: 20px;
	color 				: #787878;
	font-family			:'yekan';
	font-size			: 17px;
}

div.last a{
	color 				: #82ac54;
	display				:block;
	background-image	:url('images/photo.png');
	background-repeat	:no-repeat;
	font-family			:'yekan';
	padding-right		:30px;
	background-position	:right;
	height: 24px;
	line-height: 25px;
}
div.last a:hover{
	margin-top: 3px;
	-webkit-transition: all 300ms;
}
div.top div.last{
	float				: left;
	margin-left			: 25px;
}
nav a:hover{
	color 				: #82ac54;
}
div.badboy{
	width				: 0;
	height 				: 0;
	clear				: both;
}
div.top div.shadow5{
	height 				: 16px;
	background-image	: url('images/mshadow.png');
	background-repeat	: no-repeat;
	background-position	: center;
}
/*><> ><> ~~ ~~ ~ ><> ><> ~~~ <>< ~~ ><> FOOTER ><> ><> ~~ ~~~ ~ ><> ><> ~~~ ~ <>< ><> ~~~`*/
body footer{
	width				:100%;
	height 				:49px;
	float 				:left;
	background-image	:url('images/footer.png');
	box-shadow			: 0px -5px 15px #ccc;
}
div.white{
	background-color	:#fbfbfb;
	width				:100%;
	height 				:17px;
	float				:left;
}
footer div.foot{
	width				:878px;
	margin-right		:auto;
	margin-left			:auto;
	margin-top			:10px;
	padding 			:1px; 
}
footer div.gweb{
	margin-right		:auto;
	width				:220px;
	font-family			:'yekan';
	font-size			:14px;
	color 				:#bbbdbb;
	margin-top			:7px; 
}
footer div.gweb a{
	color 				: #bbbdbb;
}
footer div.gweb a:hover{
	color 				:#A3C48E; 
}
footer div.foot div.foot2{
	width				:655px;
	float				:right;
}
footer ul{
	padding 			:0;
}
footer ul li a{
	display				:block;
	float				:right;
	padding-right		:20px;
	font-family			:'yekan';
	font-size			:14px;
	color 				:#bbbdbb;
}
footer ul li a:hover{
	color: #A3C48E;
}